@import url("https://fonts.googleapis.com/css?family=Rubik");

.upper-container {
  background-color: lightgray;
  height: 3em;
  text-align: center;
}

.search-input {
  width: 300px;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  display: inline-block;
}

.search-btn{
  padding: 0.5em 0.5em;
  background-color: aquamarine
}

hr{
  height: 0.2em;
  background-color: rgb(65, 56, 56);
}

.result-container{
  width:600px;
	display:grid;
  grid-template-columns: 1fr 0.5fr 1.3fr;
  grid-template-rows:  auto;
  grid-auto-flow:row;
  align-items: auto;
  margin: 0.5em;
  border-radius: 15px;
  padding: 10px;
}
.result-container:nth-child(even){
  background-color: rgb(222, 222, 222);
}
.result-container:nth-child(odd){
  background-color: rgb(192, 192, 192);
}
.poster-container{
  grid-column-start:1;
	grid-column-end:2;
	grid-row-start:1;
  grid-row-end: span 4;
  padding-left: 20%;
}
.poster-container div{
  width: 133px;
  height: 200px;
  background-image: linear-gradient(to bottom, white, grey);
}
 .poster-container img{
   width: 133px;
   height: 200px;
   color:red;
 }
 
/* .list-item-wrap{
  padding: 1em;
  height:5em;
  width: 60%;
  display: inline-block
}

div.list-item-info{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1.5em 1.5em 1.5em 1.5em;
}

div.list-item-img{
 background-color: antiquewhite
}

.list-item-img img{
  width: 300px;
  height: 300px;
} */
